.vise {
    background: #f7c719;
    color: #fff;
    border: 2px solid #f7c719;
    border-radius: 5px;
    padding: .5em 1.5em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s transform 0.25s;
    margin-top: 2em;
  }
  
  .vise:hover {
    background: #ffa825;
    border-color: #ffa825;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #ffa825;
    transform: translateY(-0.5em);
    cursor: pointer;
  }