@import './navbar';
@import './carousel';
@import './onama';
@import './smjestaj';

$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

@media only screen and (max-width: $small) {
    .carousel-caption{
        padding-bottom: 280px;

        h2{
        font-size: 45px;
       }

       h3{
        font-size: 20px;
       }

       a{
        padding: 18px 18px;
        font-size: 15px;
       }
    }

    .navbar_btn {
        width: 42px;
        height: 42px;
        padding-top: 10px;
        padding-right: 12px;
        margin-top: 15px;
        margin-left: 10px;
      }

    .onamabody {
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1.25em;
        }   
    }

    .smjestajbody {
        overflow-y: scroll;
        .list-inline {
            margin-top: -50px;
    }        
    }

    .marisnikabody {
        #vise {
            margin-left: -40px;
        }
    }

    .contact-in:nth-child(1)
    {
      flex: 50%;
    }
  
    .contact-in:nth-child(2)
    {
      flex: 50%;
    }
  
    .contact-in:nth-child(3)
    {
      flex: 100%;
    }
  }
  
  
  @media only screen and (min-width: $small) {
    .carousel-caption{
        padding-bottom: 280px;

        h2{
        font-size: 50px;
       }

       h3{
        font-size: 22px;
       }

       a{
        padding: 20px 20px;
        font-size: 15px;
       }
    }

    .navbar_btn {
        width: 45px;
        height: 45px;
        padding-top: 10px;
        padding-right: 12px;
        margin-top: 15px;
        margin-left: 10px;
      }

    .onamabody {
        h2 {
            font-size: 2.2em;
        }

        p {
            font-size: 1.3em;
        }   
    }

    .smjestajbody {
        overflow-y: hidden;
        .list-inline {
            margin-top: -50px;
    }        
    }

    .marisnikabody {
        #vise {
            margin-left: -40px;
        }
    }
  }
  
  @media only screen and (min-width: $medium) {
    .carousel-caption{
        padding-bottom: 260px;

        h2{
        font-size: 60px;
       }

       h3{
        font-size: 25px;
       }

       a{
        padding: 20px 20px;
        font-size: 15px;
       }
    }

    .navbar_btn {
        width: 45px;
        height: 45px;
        padding-top: 10px;
        padding-right: 12px;
        margin-top: 15px;
        margin-left: 10px;
      }


    .onamabody {
        h2 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.4em;
        }   
    }

    .smjestajbody {
        overflow-y: visible;
        .container-fluid {
            padding-left: 250px;
        }
        .list-inline {
            margin-top: -100px;
    }        
    }
  }
  
  @media only screen and (min-width: $large) {
    .carousel-caption{
        padding-bottom: 260px;

        h2{
        font-size: 70px;
       }

       h3{
        font-size: 25px;
       }

       a{
        padding: 25px 25px;
        font-size: 15px;
       }
    }

    .navbar_btn {
        width: 45px;
        height: 45px;
        padding-top: 10px;
        padding-right: 12px;
        margin-top: 0;
        margin-left: 5px;
      }

    .onamabody {
        h2 {
            font-size: 2.6em;
        }

        p {
            font-size: 1.4em;
        }   
    }

    .smjestajbody {
        overflow-y: visible;
        .container-fluid {
            padding-left: 15px;
        }
        .list-inline {
            margin-top: -30px;
    }        
    }
  }
  
  @media only screen and (min-width: $extraLarge) {
    .carousel-caption{
        padding-bottom: 280px;

        h2{
        font-size: 80px;
       }

       h3{
        font-size: 30px;
       }

       a{
        padding: 25px 25px;
        font-size: 18px;
       }
    }

    .navbar_btn {
        width: 50px;
        height: 50px;
        padding-top: 12px;
        padding-right: 12px;
        margin-top: 0;
        margin-left: 5px;
      }

    .onamabody {
        h2 {
            font-size: 2.4em;
        }

        p {
            font-size: 1.2em;
        }   
    }

    .smjestajbody {
        overflow-y: visible;
        .list-inline{
            margin-top: -10px;
        }
    }
  }